body{
    display: flex;
    flex-direction: column;
    margin: 200px;
}

.wrapper{
    background-color: #D3D3D3;
}

#display{
    display: flex;
    justify-content: flex-end;
    font-size: 40px;
    background-color: #8DDCDC;
    margin: 0 40px;
}
